---

layout: home-default
title: Home | IDIT BACHAR
description: The latest app to help you find new friends with common interests.
image: https://dl.dropboxusercontent.com/s/ts23mlj69ptjxj3/home-start-bg.jpg?dl=0
welcome-title: שיאצו ודיקור סיני
welcome-sub-title: עידית בכר  Dipl.Ac, B.Sc
welcome-button-name: צרו-קשר
welcome-button-link: contact

bullet01-title: דיקור יפני
bullet02-title: שיאצו
bullet03-title: רפואה סינית
bullet04-title: ייעוץ תזונה
bullet05-title: צמחי מרפא סינים


about-me-title: עידית בכר
about-me-text: מטפלת בקלינקה פרטית בשיאצו ובדיקור באיזור נעים ורגוע המשך טקסט ימולא ע״י הלקוח
about-me-picture-name: https://dl.dropboxusercontent.com/s/wg2j42xwje9kegk/me-370x650.jpg?dl=0
about-me-picture-alt-name: IDIT BACHAR

more-info-button: לצפייה בפרטים

clinic-title: הקליניקה
clinic-sub-title: ממוקמת באיזור שקט ונעים, חניה חופשית. יש להזין טקסט נוסף כאן.

items-title: תוכן הקליניקה
items-sub-title: תוכן להזנה על הכלים שברשות הקליניקה (או כל דבר אחר שהלקוח חושב שצריך)

final-title: רוצים לדעת עוד?
final-sub-title: תוכלו להשאיר פרטים בטופס, או להתקשר בשעות היום

bottom_image: https://dl.dropboxusercontent.com/s/ty1t29zfyhid0y4/home-footer.jpg?dl=0
footer-bg-class: home-footer

mobile-tel: טלפון - 054-3366333
mobile-tel-link: tel:0543366333
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %}) !important">
	<div class="inner-hero">
		<div class="hero-text-container">
			<h1 class="editable">{{ page.welcome-title }}</h1>
			<p class="subtext editable">{{ page.welcome-sub-title }}</p>
			<!-- <div class="cta button alt"><a href="#footer">{{ page.welcome-button-name }}</a></div> -->
		</div>

		<div class="bullets-box container">
			<div class="bullet"><h3>{{ page.bullet01-title }}</h3></div>
			<div class="bullet"><h3>{{ page.bullet02-title }}</h3></div>
			<div class="bullet"><h3>{{ page.bullet03-title }}</h3></div>
			<div class="bullet"><h3>{{ page.bullet04-title }}</h3></div>
			<div class="bullet"><h3>{{ page.bullet05-title }}</h3></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">{{ page.more-info-button }} <span class="arrow">&#x25BC;</span></a></div>
	<div class="front-bg" style="background-image: url({% include relative-src.html src=page.image %}) !important"></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">{{ page.about-me-title }}</h2>
				<p class="editable">{{ page.about-me-text }}</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ page.about-me-picture-name }}" alt="{{ page.about-me-picture-alt-name }}" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">{{ page.clinic-title }}</h2>
				<p class="editable">{{ page.clinic-sub-title }}</p>
			</div>
			<!-- <div class="fade home-content-slider">
				{% include home/home-welcome.html %}
			</div> -->

			<div class="home-content-slider">
				{% for slider in site.categories.slider-welcome %}
				{{slider.content}}
				{% endfor %}
			</div>

		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">{{ page.items-title }}</h2>
				<p class="editable">{{ page.items-sub-title }}</p>
			</div>
			<!-- <div class="fade home-content-slider">
				{% include home/home-clinic-content.html %}
			</div> -->
			<div class="home-content-slider long-slider">
				{% for slider in site.categories.slider-clinic %}
				{{slider.content}}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="hero last-hero" style="background-image: url({% include relative-src.html src=page.bottom_image %}) !important">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">{{ page.final-title }}</h2>
				<p class="subtext editable">{{ page.final-sub-title }}</p>
				<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
