---
title: Home | IDIT BACHAR
description: The latest app to help you find new friends with common interests.
image: https://dl.dropboxusercontent.com/s/ts23mlj69ptjxj3/home-start-bg.jpg?dl=0
welcome-title: שיאצו ודיקור סיני
welcome-sub-title: עידית בכר, מטפלת מומחית בשיאצו ודיקור סיני
welcome-button-name: צרו-קשר
welcome-button-link: contact


about-me-title: עידית בכר
about-me-text: מטפלת בקלינקה פרטית בשיאצו ובדיקור באיזור נעים ורגוע המשך טקסט ימולא ע״י הלקוח
about-me-picture-name: https://dl.dropboxusercontent.com/s/7sanfhinpgzmh5v/me-650x1300.jpg?dl=0


bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">{% include src=page.welcome-title %}</h1>
			<p class="subtext editable">{% include src=page.welcome-sub-title %}</p>
			<div class="cta button alt"><a href="{{ site.baseurl }}/{% include relative-src.html src=page.welcome-button-link %}">{% include relative-src.html src=page.welcome-button-name %}</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">{% include relative-src.html src=page.about-me-title %}</h2>
				<p class="editable">{% include relative-src.html src=page.about-me-text %}</p>
			</div>
			<div class="image">
				<img class="editable" src="{% include relative-src.html src=page.about-me-picture-name %}" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
