.bullet
  +size(220px)
  background-image: url(../img/home/bullet.png)
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  display: flex
  justify-content: center
  align-items: center
  padding: 20px 55px
  box-sizing: border-box
  flex-wrap: wrap

  &>*
    font-size: 28px
    line-height: 1
    margin-top: -20px !important
    font-weight: bold
    color: #6f513d
    text-shadow: 0 1px 0 #f0e5db
    font-family: 'felix007Medium', serif
    //letter-spacing: -1px

  @media (max-width: 640px)
    background-image: url(../img/home/bullet-mobile.jpg)
    background-size: auto
    max-width: 300px
    height: 61px
    background-position: center right
    margin: 10px
    box-shadow: inset 0 -4px 3px -3px rgba(34, 17, 8, 0.55), 0 12px 10px -6px rgba(111, 82, 62, 0.64)
    border-bottom: 3px solid rgba(118, 63, 38, 0.87)
    flex: 1 1 100px
    padding-right: 55px
    padding-left: 0



    &>*
      line-height: 1
      margin-top: 0 !important
      margin-bottom: 0
      font-size: 25px

ul.bullets-box
  padding-right: 0
  padding-left: 0

  @media (max-width: 640px)
    margin-top: -30px

.bullet-test
  list-style: none
  flex: 0 1 300px

  &>*
    position: relative
    font-size: 36px
    line-height: 3
    font-weight: bold
    color: #fff
    text-shadow: 0 2px 0 #838078, 1px 0px 0 #838078, 0px 3px 8px #100501
    font-family: 'simpleclm', serif
    letter-spacing: -1px
    margin-top: 60px
    margin-bottom: -20px


    &::before
      position: absolute
      content: ''
      background-image: url(../img/home/bullet-mobile-ver02.png)
      background-size: contain
      background-repeat: no-repeat
      background-position: center center
      padding-top: 40px
      padding-right: 40px
      padding-bottom: 23px
      z-index: -1
      filter: drop-shadow(0px 11px 28px rgb(224, 255, 175)) drop-shadow(0px 11px 18px rgb(230, 163, 50))
      left: calc(50% - 20px)
      margin-top: -40px

.bullet-test

  @media (max-width: 640px)
    margin: 10px
    flex: 1 1 150px
    &:last-child
      margin-top: 0


    &>*
      position: relative
      line-height: 1
      margin-top: 90px !important
      margin-bottom: -40px
      font-size: 26px

      &::before
        margin-top: -64px

.bullet-test2
  list-style: none
  flex: 0 1 300px

  &>*
    position: relative
    font-size: 36px
    line-height: 3
    font-weight: bold
    color: #fff
    text-shadow: 0 2px 0 #838078, 1px 0px 0 #838078, 0px 3px 8px #100501
    font-family: 'simpleclm', serif
    letter-spacing: -1px
    margin-top: 60px
    margin-bottom: -20px


    &::before
      position: absolute
      content: ''
      background-image: url(../img/home/bullet-mobile-ver03.svg)
      background-size: 48px
      background-repeat: no-repeat
      background-position: center center
      padding-top: 40px
      padding-right: 70px
      padding-bottom: 31px
      z-index: -1
      -webkit-filter: drop-shadow(0px 11px 28px #e0ffaf) drop-shadow(0px 11px 18px #e6a332)
      filter: drop-shadow(0px 11px 28px #e0ffaf) drop-shadow(0px 11px 18px #e6a332)
      left: calc(50% - 35px)
      margin-top: -36px
      box-shadow: inset 0 -5px 1px -4px rgba(249, 248, 248, 0.69)


ul.bullets-box.test2
  @media (max-width: 640px)
    margin-top: -40px
    padding: 0 10px

    .bullet-test2
      margin: 20px 0px 0px
      flex: 1 1 150px
      &:last-child
        margin-top: -10px


      &>*
        position: relative
        line-height: 1
        margin-top: 90px !important
        margin-bottom: -40px
        font-size: 26px

        &::before
          margin-top: -64px
