.bullet
  +size(220px)
  background-image: url(../img/home/bullet.png)
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  display: flex
  justify-content: center
  align-items: center
  padding: 20px 50px
  box-sizing: border-box

  &>*
    font-size: 21px
    line-height: 1
    margin-top: -20px !important
    font-weight: bold
    color: #6f513d
    text-shadow: 0 1px 0 #f0e5db
