
<form action="http://formspree.io/hezi.bd@gmail.com" method="post" class="contact-form">

  <div>
    <input type="hidden" name="_next" value="{{ site.baseurl }}/contact-success/" />
    <input type="text" name="_gotcha" style="display: none;">
  </div>

  <div class="form-input">
    <label for="name">שם מלא</label>
    <input type="text" name="name" id="name" placeholder="לדוג׳ ישראל ישראלי">
  </div>

  <div class="form-input">
    <input type="hidden" name="_subject" value="New submission!" />
    <label for="email">כתובת דוא״ל</label>
    <input type="email" name="email" id="email" placeholder="me@send.com לדוג׳" required>
  </div>

  <div class="form-input massage-box">
    <label for="message">מה ברצונך לשאול?</label>
    <textarea name="message" id="message" placeholder="איזור כתיבת ההודעה..."></textarea>
  </div>

  <div class="form-input send-butt">
    <input type="submit" value="שליחה">
  </div>

</form>
