<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1024px" height="768px" viewBox="0 0 1024 768" enable-background="new 0 0 1024 768" xml:space="preserve">
<symbol  id="New_Symbol" viewBox="-172.5 -151.624 345 303.247">
	<g>
		<polygon fill="#CCCCCC" points="-128.393,-139.377 -159.953,-74.377 -51.747,139.391 50.535,139.452 81.013,76.813
			35.905,-10.377 128.157,-10.377 160.86,-74.377 128.06,-139.377 		"/>
		<path fill="#4D4D4D" d="M43.095,127.218L69.25,76.615L36.247,12.487L17.834-23.377h40.144h62.735l26.427-51l-26.623-53h-241.238
			l-25.589,53l102.076,201.489L43.095,127.218 M55.978,151.623H-57.26L-171.596-74.369l38.534-77.008h265.665l38.979,77l-38.979,76
			H56.5l38.272,75.088L55.978,151.623L55.978,151.623z"/>
	</g>
	<g>

			<radialGradient id="SVGID_1_" cx="11676.5518" cy="-20319.1895" r="210.0251" gradientTransform="matrix(-0.9239 -0.3827 0.3555 -0.8582 18176.4258 -13047.0576)" gradientUnits="userSpaceOnUse">
			<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
			<stop  offset="1" style="stop-color:#CCCCCC;stop-opacity:0"/>
		</radialGradient>
		<polygon fill="url(#SVGID_1_)" points="-146.372,-74.377 -108.5,-151.377 132.603,-151.377 171.582,-74.377 		"/>
	</g>
	<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="97.9648" y1="55.7344" x2="0.0355" y2="127.6813">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.7"/>
		<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
	</linearGradient>
	<polygon fill="url(#SVGID_2_)" points="94.703,76.623 -18.997,76.623 -57.26,151.623 55.978,151.623 	"/>
	<radialGradient id="SVGID_3_" cx="-185.3203" cy="-63.377" r="157.4382" gradientUnits="userSpaceOnUse">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0.4"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0"/>
	</radialGradient>
	<polygon fill="url(#SVGID_3_)" points="-171.596,-74.377 -57.26,151.608 -18.997,76.623 -133.062,-151.624 	"/>
	<g>
		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="35.9941" y1="-5.7139" x2="57.5" y2="-5.7139">
			<stop  offset="0" style="stop-color:#442063"/>
			<stop  offset="1" style="stop-color:#AA44AD"/>
		</linearGradient>
		<polygon fill="url(#SVGID_4_)" points="35.994,11.949 57.5,-23.377 56.5,1.623 		"/>
		<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="52.4766" y1="1.1787" x2="44.0775" y2="-8.9248">
			<stop  offset="0.2415" style="stop-color:#C467C9;stop-opacity:0.3"/>
			<stop  offset="0.7636" style="stop-color:#2F1551;stop-opacity:0.4"/>
		</linearGradient>
		<polygon fill="url(#SVGID_5_)" points="35.994,11.949 57.5,-23.377 57.97,1.623 		"/>
		<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="35.9941" y1="39.123" x2="94.7031" y2="39.123">
			<stop  offset="0" style="stop-color:#723AA3"/>
			<stop  offset="0.1864" style="stop-color:#662D91"/>
			<stop  offset="1" style="stop-color:#7638AD"/>
		</linearGradient>
		<polygon fill="url(#SVGID_6_)" points="56.5,1.623 35.994,11.949 69.25,76.623 94.703,76.623 		"/>
		<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="75.6807" y1="16.8848" x2="59.3028" y2="60.3201">
			<stop  offset="0" style="stop-color:#000000;stop-opacity:0.8"/>
			<stop  offset="0.7363" style="stop-color:#662D91;stop-opacity:0"/>
		</linearGradient>
		<polygon fill="url(#SVGID_7_)" points="56.5,1.623 35.994,11.949 69.25,76.623 94.703,76.623 		"/>
		<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="132.4595" y1="-21.6338" x2="157.2611" y2="-73.6163">
			<stop  offset="0" style="stop-color:#F9AE3C"/>
			<stop  offset="1" style="stop-color:#FBB03B;stop-opacity:0.2"/>
		</linearGradient>
		<polygon fill="url(#SVGID_8_)" points="132.603,1.623 131.083,1.623 119.333,-23.377 120.688,-23.377 147.084,-74.377
			171.582,-74.377 		"/>
		<linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="58.7124" y1="-2.9072" x2="117.6842" y2="-16.0793">
			<stop  offset="0" style="stop-color:#982E8B"/>
			<stop  offset="1" style="stop-color:#F9AE3C"/>
		</linearGradient>
		<polygon fill="url(#SVGID_9_)" points="57.5,-23.377 56.5,1.623 131.289,1.623 120.688,-23.377 		"/>
		<linearGradient id="SVGID_10_" gradientUnits="userSpaceOnUse" x1="147.332" y1="-50.7549" x2="122.3587" y2="-2.8061">
			<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
			<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0.3"/>
		</linearGradient>
		<polygon fill="url(#SVGID_10_)" points="132.603,1.623 120.688,-23.377 147.084,-74.377 171.582,-74.377 		"/>
		<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="46.7012" y1="-5.9121" x2="20.2011" y2="-24.6622">
			<stop  offset="0" style="stop-color:#000000;stop-opacity:0.8"/>
			<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0.2"/>
		</linearGradient>
		<polygon fill="url(#SVGID_11_)" points="17.757,-23.377 57.97,-23.377 35.994,11.949 		"/>
	</g>
	<linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="65.3486" y1="88.6221" x2="65.3486" y2="45.0385">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
		<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
	</linearGradient>
	<polygon fill="url(#SVGID_12_)" points="56.5,1.623 35.994,11.949 69.25,76.623 94.703,76.623 	"/>
	<polygon display="none" fill="none" points="-172.5,151.623 172.5,151.623 172.5,-151.377 -172.5,-151.377 	"/>
</symbol>
<use xlink:href="#New_Symbol"  width="345" height="303.247" id="XMLID_18_" x="-172.5" y="-151.624" transform="matrix(2.5216 0 0 -2.5216 508.2119 384.0137)" overflow="visible"/>
</svg>
