section
  .flex
    @media (min-width: 768px)
      flex-wrap: wrap
      justify-content: center
      
    .home-content-slider
      max-width: 650px
      width: 100%
      margin-bottom: -60px

      p
        text-align: center

        img
          margin: auto
