.fade
  direction: ltr !important
body
  .content
    background-image: url(https://dl.dropboxusercontent.com/s/ilbwg0m9tw4cbee/blog-bg2.jpg?dl=0) !important
    background-size: cover !important
    background-attachment: fixed !important
    background-repeat: no-repeat !important

    section
      background-color: transparent
section
  &.hero
    background-color: #EFE7F0
    display: flex
    align-items: center
    width: 100%
    background-attachment: fixed
    @media (max-width: 640px)
      background-attachment: initial

    .front-bg
      position: absolute
      top: 0
      filter: blur(23px) brightness(135%) opacity(65%)
      width: calc(100vw + 25px)
      height: calc(100vh + 25px)
      z-index: 0
      background-attachment: fixed
      @media (max-width: 640px)
        background-attachment: initial

    .inner-hero
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      z-index: 10
      height: fit-content
      width: 100%
      box-sizing: border-box

    .learn-more
      z-index: 15
      a
        opacity: 1
        background: $green
  .flex
    @media (min-width: 768px)
      flex-wrap: wrap
      justify-content: center

    .home-content-slider
      max-width: 650px
      width: 100%
      margin-bottom: -10px
      &.long-slider
        max-width: 460px

      p
        text-align: center

        img
          margin: auto

      @media (max-width: 640px)
        margin-bottom: -30px

        .slick-prev, .slick-next
          top: calc(100% + 7px)

.bullets-box
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: center
  flex: 1 1 100%
  margin-top: 20px

.hero.last-hero
  margin-bottom: -190px
  position: relative
  background-position: center bottom

  @media (max-width: 640px)
    margin-bottom: 0
    background-attachment: initial

  &::before
    background: transparent

footer#footer
  overflow: hidden
  background: rgba(193, 163, 128, 0.55)
  direction: rtl
  box-shadow: inset 0 -53px 0 #333
  &.home-footer::before
    background-image: url(https://dl.dropboxusercontent.com/s/ty1t29zfyhid0y4/home-footer.jpg?dl=0)
    background-position: bottom
    position: absolute
    content: ''
    height: 100vh
    width: 100%
    -webkit-filter: blur(3px)
    filter: blur(5px)
    background-size: cover
    bottom: 50px
    mix-blend-mode: screen
    z-index: 0

    @media (max-width: 640px)

      background-position: center 100vh
      bottom: 0

  &::after
    background: #ffe8d1
    position: absolute
    content: ''
    width: 100%
    height: 76px
    bottom: 0
    z-index: 1
    @media (max-width: 640px)
      height: 141px
      background: #dfcebe

  a

    color: #8b5133
    font-weight: bold
    text-transform: uppercase

    svg
      fill: #8b5133

  .container
    display: flex
    flex-wrap: wrap
    position: relative
    z-index: 10
    justify-content: center

    .footer-right-links
      order: 1

      a
        font-size: 27px
        position: relative
        top: 2px

        svg
          +size(33px)


        &:hover
          background: #8b5133
          border-radius: 7px
          padding: 10px 10px
          color: #fff

          svg
            fill: #fff

      @media (max-width: 640px)
        flex-basis: 100%
        text-align: center

        a
          font-size: 26px
          padding: 5px 10px

          &:hover
            padding: 17px 10px

          svg
            +size(48px)




    .footer-left-links
      display: none


    &>*
      flex: 1 1


    .copyright
      order: 3
      text-align: left
      display: flex
      flex-wrap: wrap
      flex: inherit
      padding: 0
      @media (max-width: 640px)
        width: 100%
      a
        font-size: 12px
        position: relative
        top: 2px
        padding: 5px 10px

        &:hover
          background: #863993
          border-radius: 3px
          text-decoration: none !important
          color: #492174 !important
          text-decoration: none !important
          text-shadow: 0 1px 0 #a347b3

          hr
            border-top: solid 1px #a347b3
            border-bottom: solid 1px #492174

          .footer-logo-name
            color: #492174 !important
            text-decoration: none !important
            text-shadow: 0 -1px 0 rgb(31, 8, 35)

        p
          margin-bottom: -10px
          text-align: -webkit-center
          font-weight: bold
          letter-spacing: 0.5px
          font-size: 14px

        hr
          margin-bottom: 8px
          border-top: solid 1px #bbad9c
          border-bottom: solid 1px #fff2e1
    .copyright
      @media (max-width: 640px)
        width: 100%

        a
          width: 100%
          display: flex
          flex-direction: column

          p
            font-size: 16px
            color: #7c6a5a
            margin-bottom: 0px

          &:hover
            p
              color: #492174 !important

          .footer-logo-name
            width: 100%
            text-align: center
            flex-wrap: inherit
            margin: -1px auto 0
            font-size: 22px
            align-items: baseline
            justify-content: center
            left: -6px
            position: relative

            svg
              width: auto
              height: 38px
              bottom: -2px
              position: relative
              left: 4px

    form.contact-form
      display: flex
      flex-wrap: wrap
      //background: rgba(213, 193, 178, 0.5)
      width: 100%
      padding: 10px
      background-blend-mode: multiply
      font-size: 12px
      font-weight: bold
      color: #000
      padding: 10px 4px
      flex-basis: 100%
      margin-bottom: 10px

      @media (max-width: 640px)
        flex-direction: column
        font-size: 18px

        .form-box:nth-last-of-type(2)
          margin-bottom: 10px

      .form-title
        width: 100%
        margin: 0
        //margin-top: 4px
        margin-right: 5px
        margin-bottom: 10px
        text-align: center
        color: #fff
        text-shadow: 0 1px 5px shade(#8b5235, 30%)
        letter-spacing: 3px

        @media (max-width: 640px)
          font-size: 42px
          color: #8b5235
          text-shadow: 0 1px 5px #fff


      .form-box
        flex: 1
        padding: 0 5px


        &.form-input:first-child
          margin-bottom: 0px

        &:last-child
          display: flex
          flex: 2
          flex-wrap: wrap
          @media (max-width: 640px)
            flex-direction: column




      .form-input
        flex: 1 1 33.3%
        display: flex
        flex-wrap: wrap

        &.short-info
          margin-bottom: 10px

        &>*
          flex: 1


        &>label
          margin-top: 10px !important

        &>*:last-child
          flex: 3
          margin-top: 0
        label
          padding-right: 10px



      .massage-box
        display: flex
        flex-direction: column
        flex-wrap: wrap
        flex: 1 1 calc(100% - 211px)
        align-items: stretch

        @media (max-width: 640px)
          flex-basis: auto

        label
          display: none




      textarea#message
        height: 92px




      .send-butt
        //flex-basis: 50px
        //width: 50px
        flex: 1 1 50px !important
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: flex-end

        @media (max-width: 640px)
          flex-basis: initial !important
          height: 50px


        input[type="submit"]
          width: 100%
          box-sizing: border-box
          padding: 10px
          height: calc(100% - 43px)
          font-size: 20px
          color: #8b5235
          border: 2px solid #b6a18c
          background: #e6c19d

          @media (max-width: 640px)
            padding: 0 !important

          &:hover
            background: #894e33
            color: #fff

.sign-off
  width: 150px
.footer-logo-name
  direction: ltr
  display: flex
  flex-direction: row
  font-family: 'Quantico'
  font-size: 16px
  color: #7d6a59
  text-shadow: 0 1px 0px #fff
  margin-left: 0
  font-weight: 600
  line-height: 39px
  flex-wrap: wrap
  margin-top: -7px

  svg
    height: 28px
    width: 30px
